In [3]:
import pandas as pd 

df = pd.read_csv("Unternehmensverkäufe.csv")

In [4]:
print(df)

        Produkt Preis in €  VerkäufeQ1  VerkäufeQ2  VerkäufeQ3  VerkäufeQ4  \
0  HandyModell1        350          45           0          89          21
1  HandyModell2        600          33           3          80          45
2     Kopfhörer         85          11          24          31           7
3     Ladegerät       32,5          73          47          56          11
4   Handyhülle1      25,99         120          52          75         154
5   Handyhülle2      15,99          89          19          31         180
6   Handyhülle3      18,99          99          56          19          33
7   Handyhülle4      35,99          51         144           5          15

  UmsatzQ1 UmsatzQ2 UmsatzQ3 UmsatzQ4
0    15750        0    31150     7350
1    19800     1800    48000    27000
2      935     2040     2635      595
3   2372,5   1527,5     1820    357,5
4   3118,8  1351,48  1949,25  4002,46
5  1423,11   303,81   495,69   2878,2
6  1880,01  1063,44   360,81   626,67
7  1835,49  5182,56   179,95   539,85

In [10]:
print(df[["VerkäufeQ1","UmsatzQ1"]])

   VerkäufeQ1 UmsatzQ1
0          45    15750
1          33    19800
2          11      935
3          73   2372,5
4         120   3118,8
5          89  1423,11
6          99  1880,01
7          51  1835,49